@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

.empty-grow {
  flex-grow: 1;
}

.scrollbar-thin::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #222;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  background-color: #222;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #1d1d1d;
  border: 1px solid #444;
  border-radius: 3px;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  left: 0;
  bottom: 74px;

  width: 400px;

  padding: 1rem;
  margin-left: -207px;

  text-align: left;
  font-size: 12px;

  background-color: #222;

  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 540px) {
  .overlay {
    width: 240px;

    margin-left: -127px;
  }
}

.overlay::after {
  position: absolute;
  top: 100%;
  left: 50%;

  transform: translateX(-50%);
  /* background-color: #222; */

  content: "";

  width: 0;
  height: 0;

  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 24px solid #222;
  border-bottom: 0;
}

#overlay-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;

  /* border: 1px solid red; */
}

#overlay-top > button {
  /* border: 1px solid blue; */
  border-radius: 3px;

  width: 50px;
  height: 30px;
}
#overlay-top > button:hover {
  background-color: #444;
}

#overlay-weather {
  display: flex;
  align-items: center;
}

#overlay-weather > div:first-of-type {
  margin-right: 1rem;
}
#overlay-weather > div:last-of-type {
  font-size: 0.9rem;
  font-weight: bold;
}

#overlay-mid {
  /* border: 1px solid greenyellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100px;
}

@media (max-width: 540px) {
  #overlay-mid {
    flex-direction: column-reverse;

    height: auto;
  }
}

#overlay-info {
  /* border: 1px solid aqua; */
  display: flex;
  flex-direction: column;

  width: 240px;
  height: 100%;

  margin-right: 20px;
}

@media (max-width: 540px) {
  #overlay-info {
    margin-right: 0;
    text-align: center;

    margin-top: 1rem;
    padding-inline: 1rem;
  }
}

#overlay-info * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#overlay-title {
  font-size: 0.9rem;
  font-weight: bold;

  padding-bottom: 0.1rem;
}

#overlay-link {
  color: #bebebe;

  margin-bottom: 0.5rem;
}
#overlay-link > a {
  text-decoration: underline;
}
#overlay-link > a:first-of-type {
  margin-right: 0.5rem;
}

#overlay-action {
  display: flex;
  justify-content: space-between;

  width: 80%;
}

@media (max-width: 540px) {
  #overlay-action {
    margin: auto;
  }
}

#overlay-action > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 0.6rem;

  border-radius: 50%;

  width: 50px;
  height: 50px;
}
#overlay-action > button:hover {
  background-color: #444;
}

#overlay-image {
  display: none;

  width: 100px;
  height: 100px;

  border-radius: 5px;
}

.skeleton-overlay {
  position: absolute;
  left: 0;
  bottom: 74px;

  margin-left: -207px;

  width: 400px;
  height: 200px;

  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
}

.skeleton-overlay::after {
  position: absolute;
  top: 100%;
  left: 50%;

  transform: translateX(-50%);

  content: "";

  width: 0;
  height: 0;

  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 24px solid rgba(255, 255, 255, 0.8);
  border-bottom: 0;

  animation: skeleton-loading 1.5s infinite linear;
}

@media (max-width: 540px) {
  .skeleton-overlay {
    left: 0;
    bottom: 74px;

    margin-left: -127px;

    width: 240px;
    height: 300px;
  }
}

.on-loading {
  width: 100px;
  height: 100px;

  border-radius: 5px;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
}

@keyframes skeleton-loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .border-red-2 {
    @apply border-2 border-solid border-red;
  }
}
