.env
*.sql
fly.toml
Dockerfile
swagger.json
swagger.yaml
swagformat.txt
markers.json
badwords.txt
*.csv
*.py
*.json
dragonfly/
zincsearch/markers.json
zincsearch/Dockerfile.json
zincsearch/fly.toml
zincsearch/.dockerignore
badwords_test.txt
fonts/logo-text.png
markers.bleve
service/marker_facility_service.go
marker_rss.xml
deploy.ps1
marker_facility_service.go
main.exe
*.jpg
*.onnx