html {
  background-color: #fff;
  text-align: center;
  color: rgba(27, 38, 54, 1);
}

body {
  margin: 0;
  color: rgba(27, 38, 54, 1);
  /* font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */

  font-family: "Nunito", "Nanum Gothic", sans-serif;
}

input,
button,
select,
textarea {
  font-size: 16px;
}

div {
  box-sizing: border-box;
}

p,
h1,
h3 {
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/nunito-v16-latin-regular.woff2") format("woff2");
  font-display: swap;
}

#app {
  height: 100vh;
  text-align: center;
}
